:root {
    --primary: #fff;
}

.btn {
    padding: 12px 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    min-width: 120px;
    max-width: 180px;
    margin: 0;
    box-sizing: border-box;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease-out;
}

.btn--primary {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
}

.btn--outline {
    background-color: transparent;
    color: #fff;
    border: 1px solid var(--primary);
}

.btn--medium {
    padding: 8px 20px;
    font-size: 20px;
}

.btn--large {
    padding: 12px 26px;
    font-size: 20px;
}

.btn--medium:hover,
.btn--large:hover,
.btn--primary:hover,
.btn--outline:hover {
    background-color: #fff;
    color: #242424;
    transition: all 0.3s ease-out;
}